<div>

    <div class="search-form search-form-inline oh">

        <div class="fl" style="margin-top: 8px;">
            <button class="btn btn-complete mr10" ng-click="createShop()"><i class="icon icon-white icon-plus-sign"></i> 新增店铺</button>
        </div>
    </div>
    <div class="px20">
        <div class="table-bg" ng-class="{'table-nodata':gridOptions.data.length==0}">
            <div id="cgGrid" ui-grid="gridOptions" ui-grid-auto-resize ui-grid-selection ui-grid-pagination external-scopes="shopListScope"  ng-style="initTableHeight()"></div>
        </div>
        <div class="page">
                <div class="pageinfo fl mr10">当前 
                    <input class="input-sm txt" style="width:40px;" type="number"  id="inputPage" ng-model="currentPage" ng-change="gridApi.pagination.seek(currentPage)"/>
                    <span> / {{gridApi.pagination.getTotalPages()}}</span>
                    页，共{{gridOptions.data.length}}条数据</div>
                <div class="pagination fr">
                    <ul>
                        <li> <button type="button" ng-click="previousPage()">上一页</button></li>
                        <li><button type="button" ng-click="nextPage()">下一页</button></li>
                    </ul>
                </div>
            </div>
    </div>
</div>