<div>
    <form name="passwordForm" novalidate>
        <div>
            <div class="form-btn p20 oh">
                <button type="submit" class="btn btn-primary" data-ng-click="changePassword(administrator)"
                        ng-disabled="passwordForm.$invalid || !passwordForm.$dirty"><i
                        class="icon icon-white icon-ok-circle"></i>保存
                </button>
            </div>
            <div class="p20">
                <div class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label"><span class="color_red mr5">*</span>旧密码：</label>

                        <div class="controls">
                            <input type="password" data-ng-minlength="6"
                                   ng-model="oldPassword"
                                   required class="txt input-xlarge span3" >
                            <span data-ng-show="errorMessage" class="label label-danger ml20">&nbsp;&nbsp;{{errorMessage}}</span>
                            <span data-ng-show="successMessage" class="label label-success ml20">&nbsp;&nbsp;{{successMessage}}</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label"><span class="color_red mr5">*</span>新密码：</label>

                        <div class="controls">
                            <input type="password" data-ng-minlength="6"
                                   ng-model="newPassword"
                                   required class="txt input-xlarge span3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
