<div>

    <form novalidate="novalidate" name="productForm">
        <div class="form-btn p20 oh">
            <button type="button" class="btn mr10"  ng-click="cancel()"><i class="icon icon-arrow-left"></i> 返回</button>
            <button ng-disabled="product.productName==null||CurrentType==null||product.sellable==null||product.price==null" type="button" class="btn btn-primary mr10" ng-click="createProduct()"><i class="icon icon-white icon-ok-circle"></i> 保存</button>
            <!--<button type="button" class="btn btn-danger mr10"><i class="icon icon-white icon-trash"></i> 删除</button>-->
        </div>
        <div class="p20">
            <div class="form-horizontal">
                <div class="control-group">
                    <label class="control-label"><span class="color_red mr5">*</span>商品名称：</label>
                    <div class="controls">
                        <input type="text" class="txt input-xlarge span5" ng-model="product.productName" required/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"><span class="color_red mr5">*</span>商品分类：</label>
                    <div class="controls">
                        <select  ng-model="CurrentType" 
                                ng-options="productType.typeId as productType.typeName for productType in productTypes">
                            <option value="">-- 请选择 --</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"><span class="color_red mr5">*</span>商品状态：</label>
                    <div class="controls">

                        <select ng-model="product.sellable"  ng-options="ps.id as ps.name for ps in productStates">
                            <option value="">-- 请选择 --</option>
                        </select>
                    </div>
                </div>
                <div class="control-group" ng-class="{ 'error' : productForm.inputPrice.$invalid && !productForm.inputPrice.$pristine }">
                    <label class="control-label"><span class="color_red mr5">*</span>价格：</label>
                    <div class="controls">
                        <div class="input-prepend input-append input-price"> <span class="add-on">￥</span>
                            <input class="txt span1"  type="number" name="inputPrice" id="inputPrice" ng-model="product.price" required>
                            <span class="add-on">元</span> </div>
                        <p class="help-inline" ng-show="productForm.inputPrice.$dirty && productForm.inputPrice.$invalid">
                            <span>
                                价格只能输入数字。
                            </span>
                        </p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">加入赠品：</label>
                    <div class="controls">
                            <input type="checkbox" ng-model="product.present" class="ios7CBox">
                    </div>
                </div>
     
                <div class="control-group">
                    <label class="control-label">显示顺序：</label>
                    <div class="controls" ng-class="{ 'has-error' : productForm.inputOrdering.$invalid && !productForm.inputOrdering.$pristine }">
                        <input class="txt span2" type="number" name="inputOrdering" id="inputOrdering" ng-model="product.ordering"/>
                        <p class="help-inline" ng-show="productForm.inputOrdering.$dirty && productForm.inputOrdering.$invalid">
                            <span>
                                查询顺序只能输入数字。
                            </span>
                        </p>


                    </div>
                </div>
                <!--<div class="control-group">
                    <label class="control-label">特殊需求：</label>
                    <div class="controls">
                        <div>
                            <label class="mr20">
                                <input type="checkbox" class="mr5">
                                常温</label>
                            <label class="mx20">
                                <input type="checkbox" class="mr5">
                                加冰</label>
                            <label class="mx20">
                                <input type="checkbox" class="mr5">
                                加热</label>
                            <label class="mx20">
                                <input type="checkbox" class="mr5">
                                <input type="text" class="txt span2">
                            </label>
                            <a>添加需求</a> </div>
                    </div>
                </div>-->
                <div class="control-group">
                    <label class="control-label">商品描述：</label>
                    <div class="controls">
                        <textarea class="span7" style="height:150px;" ng-model="product.productDesc"></textarea>
                    </div>
                </div>
                <div class="form-title mb20">促销信息</div>
                <div class="control-group">
                    <label class="control-label">是否促销：</label>
                    <div class="controls">
                        <input type="checkbox" class="ios7CBox" ng-model="product.promotion">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">促销类型：</label>
                    <div class="controls">
                        <div class="mt5">
                            <label class="mr20">
                                <input type="checkbox" class="mr5" ng-model="product.productShowType" ng-true-value="NORMAL">
                                普通</label>
                            <label class="mr20">
                                <input type="checkbox" class="mr5" ng-model="product.productShowType" ng-true-value="SUPERSCRIPT">
                                角标</label>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </form>
</div>


